*
{
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body
{
    color: rgb(41, 68, 68);

    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 11pt;
}

main
{
    display: flex;
}

li
{
    background-color: inherit;
    color: inherit;

    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;

    margin: 0 0 1em 0;

    display: flex;
    align-items: center;

    overflow: visible;
}

#top-bar
{
    border-bottom: 1px solid gray;

    padding: 0.5em 2em;

    display: flex;
    align-items: center;
}

#top-bar p
{
    font-weight: bold;
    font-size: 2rem;

}

#side-menu
{
    background-color: rgb(227, 244, 244);
    width: 15%;
    font-size: 1.2rem;
    font-weight: bold;
}

#pages
{
    padding: 0.5em 0 0 1em;
}

#pages li
{
    border: 1px solid rgb(61, 142, 142);
    border-right: none;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

    border-color: transparent;
}

#pages li:hover
{
    border-color: rgb(61, 142, 142);
}

#pages li a
{
    width: 100%;
    height: 100%;

    padding: 0.5em 0 0.5em 1em;
}

#storage
{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#storage-bar
{
    background-color: white;

    width: 80%;
    height: 1em;

    margin-top: 1em;

    border: 1px solid rgb(61, 142, 142);
    border-radius: 1em;
}

#storage-bar div
{
    background-color: rgb(61, 142, 142);

    width: 36%;
    height: 100%;

    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#storage p
{
    width: 80%;

    margin-top: 0.33em;

    text-align: right;
    font-weight: normal;
}

#main-content
{
    width: calc(85% - 24em);

    font-weight: normal;

    padding: 0 12em;
}

#main-content-title
{
    padding: 1em 0 0.6em 0;
}

#files
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


header .icon:hover
{
    background-color: rgb(61, 142, 142);
}

.icon
{
    background-color: rgb(227, 244, 244);
    color: rgb(61, 142, 142);
    width: 0.8rem;
    height: 0.8rem;

    padding: 0.33rem;
    margin: 0.33rem;

    border: 0.1em solid;
    border-radius: 1em;
}

.icon:hover
{
    cursor: pointer;
}

.icon-large
{
    font-size: 6em;

    margin-top: 0.33em;
    margin-bottom: auto;
}

.icon-small
{
    width: 1em;
    height: 1em;

    margin: 0 0.33em;
}

.file
{
    width: 16em;
    height: 16em;

    text-align: center;

    border: 1px solid black;
    border-radius: 1em;

    margin: 1em 0.5em 0.25em 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file:hover
{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 100%);
    cursor: pointer;
}

.file-footer
{
    height: 10%;

    display: flex;

    padding: 0 1em;
}

.solid-divider
{
    border: none;
    border-top: 1px solid rgb(61, 142, 142);
}

.current
{
    background-color: rgb(61, 142, 142);
    color: white;
}

.last
{
    margin-left: auto;
}
